
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
h1 {
    margin: 0;
}
.blog-post {
    max-width: 600px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.blog-post img {
    max-width: 100%;
    border-radius: 5px;
}
.blog-post h2 {
    margin-top: 0;
}
.blog-post p {
    line-height: 1.6;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.img {
    background-color: yellow;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}
